body {
  font-family: Arial;
  background: #0f172a;
  color: white;
  text-align: center;
}

.card {
  background: #1e293b;
  margin: 20px auto;
  padding: 20px;
  border-radius: 10px;
  width: 80%;
}

button {
  padding: 10px;
  margin: 5px;
  border: none;
  background: #22c55e;
  color: white;
  cursor: pointer;
}
